section{
    position: relative;
    min-height: 60vh;
    color: $accent;
    font-family: 'Poppins', sans-serif !important;
    display: flex;
    align-content: center;
    line-height: 1.4rem;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: calc(30px + 1vh);
    &:last-child {
        margin-bottom: 0;
    }
}

.about {
    p {
        font-size: $p-font;
        color: $h-color-lighter;
        margin: 5px 0;
        &::nth-child(1) {
            max-width: 400px;
        }
    }
    h3 {
        font-size: $h2-font;
        color: $h-color-darker;
    }
    ul {
        display: inline-block;
        margin-left: 10px;
    }
    li {
        display: inline;
    }
    a {
        color: $h-color;
        font-size: $h2-font;
        transition: .3s;
        margin-right: 5px;
        &:hover {
            color: $s-color-lighter;
        }
    }
    &__info {
        width: 600px;
        // padding: 0 2rem;
        margin: 0 20px;;
    }
    &__img {
        max-width: 400px;
        height: auto;
        img {
            width: 100%;
        }
    }
    &__cta {
        display: flex;
        align-items: center;
        align-content: center;
        margin-top: 10px;
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
    }
}

button {
    padding: 12px 10px;
    background: $h-color;
    color: $s-color;
    border: none;
    border-radius: 2px;
    font-weight: 800;
    cursor: pointer;
    overflow: hidden;
    &:hover {
        color: $h-color;
        background: none;
        border: 1px solid $s-color;
    }
}

.title {
    position: relative;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif !important;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    span {
        font-size: $xb-font;
        color: black;
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: rgb(163, 163, 163);
    }
    h2 {
        font-size: $h1-font;
        position: absolute;
        bottom: 0;
        left: 0;
        color: $h-color;
    }
}

.title2{
    position: relative;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif !important;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    span {
        font-size: $xb-font;
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: rgb(255, 255, 255);
    }
    h2 {
        font-size: $h1-font;
        position: absolute;
        bottom: 0;
        left: 0;
        color: white;
    }
}


.bgcontainer {
    width: 100%;
    background: #222222;
}
// Services Section
.services {
    &__container {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-basis: auto;
        flex-wrap: wrap;
    }
    &__card {
        text-align: center;
        width: 300px;
        height: auto;
        border: 1px solid $h-color-lighter;
        margin: 10px;
        padding: 5px;
        img {
            height: 80px;
        }
        p {
            text-align: left;
            font-size: .8rem;
            color: $h-color-lighter;
            padding: 0 10px;
        }
        h2 {
            font-size: 1.2rem;
            margin: 0 10px
        }
    }
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__select {
        margin: 10px 0;
    }
    select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        color: $h-color;
        margin-right: 10px;
        border: 1px solid $s-color;
        padding: 12px 10px;
        border-radius: 2px;
    }
    button {
        background: none;
        border: 1px solid $s-color;
    }
    &__btn {
        padding: 6px 8px;
        background: $s-color-lighter;
        color: $f-color-darker;
        border: none;
        border-radius: 2px;
        font-weight: 800;
        font-size: $p-font;
        cursor: pointer;
        text-transform: uppercase;
    }
}

.card{
    &__contain {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-basis: auto;
        flex-wrap: wrap;
    }
    &__container {
    max-width: 300px;
    border: 1px solid $accent;
    border-bottom: 5px solid $h-color-lighter;
    border-top: 5px solid $h-color-lighter;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    text-align: center;
    }
    &__details {
        padding: .5rem 0;
        width: 100%;
        background: $h-color;
        h2 {
            font-size: $p-font;
            color: white;
        }
    }
    &__imgBox {
        margin: 0 auto;
        height: 200px;
        img {
            height: 100%;
            width: 100%;
        }
    }
    &__cta {
        margin: 10px;
        a {
            border: 1px solid $h-color;
            width: auto;
            padding: 10px;
            text-decoration: none;
            color: $s-color;
            border-radius: 3px;
            text-transform: uppercase;
            font-weight: 600;
            &:hover {
                background: none;
                background: $h-color;
            }
            &:first-of-type {
                background: $h-color;
                &:hover {
                    background: none;
                }
            }
        }
    }
}


.hideonmobile {
    @media screen and (max-width: 970px) {
        display: none;
    }
}

.contact {
    display: flex;
    justify-content: center;
    &__container {
        margin: 1rem auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__info {
        background: $accent;
        border: 1px solid $accent;
        color: $h-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        img {
            width: 20px;
        }
        a {
            color: $h-color;
            font-size: $h2-font;
            transition: .3s;
            margin-right: 5px;
            &:hover {
                color: $s-color-lighter;
            }
        }
        &-details {
            li {
                margin-bottom: 15px;
            }
            span {
                font-size: $p2-font;
            }
        }
        &-soci {
            li {
                display: inline;
                margin-right: 15px;
            }
        }
    }
    &__box {
        min-width: 300px;
        max-width: 500px;
        border: 2px solid $accent;
        padding: 1rem;
        &-title {
            font-size: $h2-font;
            text-align: center;
            margin: 15px 0;
            font-weight: 600;
            text-transform: uppercase;
        }
        &-inputBox {
            position: relative;
            margin: 30px 20px;
            span {
                position: absolute;
                left: 0;
                top: 0;
                padding: 0px 0px;
                pointer-events: none;
                font-size: $p2-font;
                transition: .3s;
                color: $accent;
            }
            textarea {
                height: 150px;
            }
            input, textarea {
                width: 100%;
                max-width: 400px;
                font-size: $p2-font;
                color: white;
                border: none;
                outline: none;
                resize: none;
                border-bottom: 1px solid orange;
                background: none;
            }
            input:valid ~ span, textarea:valid ~ span, input:focus ~ span, textarea:focus ~ span {
                transform: translateY(-20px);
                font-size: 1rem;
                font-weight: 400;
                letter-spacing: 1px;
            }
            input[type="submit"] {
                position: relative;
                cursor: pointer;
                background: $s-color;
                color: white;
                border: none;
                max-width: 150px;
                padding: 12px;
                text-transform: uppercase;
                letter-spacing: .2rem;
                font-weight: 600;
                border-radius: 3px;
                &:hover {
                    background: $accent;
                    color: #333;
                }
        }
    }
}
}

.footer {
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    &__logo {
        font-size: $p-font;
        font-weight: 600;
        color: $s-color;
        span {
            color: $h-color;
        }
    }
    p {
        font-size: $p-font;
        color: $s-color;
    }
    h2 {
        color: $h-color;
    }
}