$mobi-pf: 14px;
$h1-font: clamp(2.0rem, 5vw, 3.6rem);
$h2-font: clamp(1.4rem, 5vw, 2.0rem);
$p-font: clamp(1.2rem, 5vw, 1.2rem);
$p2-font: 1.0rem;
$xb-font: clamp(3.6rem, 10vw, 7.2rem);
$a-font: clamp(1.2rem, 10vw, 1.8rem);

$m-color: #F26419;
$m-color-lighter: #f07838;
$m-color-darker: #a54b1b;

$f-color: #33658A;
$f-color-lighter: rgb(88, 142, 180);
$f-color-darker: #264b68;

$s-color: #F6AE2D;
$s-color-lighter: #f7bb4c;
$s-color-darker: #f5a613;

$h-color: #2F4858;
$h-color-lighter: #466b83;
$h-color-darker: #22343f;

$accent: #86BBD8;


